

a {
    text-decoration: none;
}

.home-header {
    text-align: center;
}

img.displayed {
    display: block;
    margin-left: auto;
    margin-right: auto }


    #buttonLink {
        display: block;
        margin:auto;
        padding: 15px;
      }

body {
    background-color: aquamarine;
}

button {
    background-color: blanchedalmond;
    text-align: center;
    border-radius: 30%;

}

.grid {
    display: flex;
    flex-wrap: wrap;
    height: 300px;
    width: 400px;
    margin: auto;
}


.square {
    width: 200px;
    height: 200px;
    border-style: dashed;
    border-color: tomato;
}

.whack-grid {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-content: center;
    width: 618px;
    height: 618px;
}

.mole {
    background-image: url('images/bitch.jpg');
    background-size: cover;
}